In [1]:
import pandas as pd
import json as js
import numpy as np

In [7]:
pd.options.display.float_format = '{:.0f}'.format

In [2]:
'''
#artist_dic=dict()
le=0
for i in range(97,101,1):
    for j in range(97,123,1):
        m='a'+chr(i)+chr(j)
        dataset=pd.read_csv(m,sep='\t')
        le=le+len(dataset)
        #artist_dic['artist_id']=0
        #dataset2['song_id']=dataset2['song_id'].astype(str)
        #dataset2=dataset2.drop('album_id',axis=1)
        #dataset3=dataset2.merge(dataset,on='song_id',how='left')
        #dataset2.to_csv(m,sep='\t',encoding='utf-8',index=False)
        print m,
        if(i==100 and j==108):
            break
print le
'''

"\n#artist_dic=dict()\nle=0\nfor i in range(97,101,1):\n    for j in range(97,123,1):\n        m='a'+chr(i)+chr(j)\n        dataset=pd.read_csv(m,sep='\t')\n        le=le+len(dataset)\n        #artist_dic['artist_id']=0\n        #dataset2['song_id']=dataset2['song_id'].astype(str)\n        #dataset2=dataset2.drop('album_id',axis=1)\n        #dataset3=dataset2.merge(dataset,on='song_id',how='left')\n        #dataset2.to_csv(m,sep='\t',encoding='utf-8',index=False)\n        print m,\n        if(i==100 and j==108):\n            break\nprint le\n"

In [3]:
#len(dataset['artist_id'].drop_duplicates(keep='first'))

In [4]:

columns=['msno','song_id','artist_id']
dataset2=pd.DataFrame(columns=columns)
dataset2=dataset2.groupby(['artist_id','msno']).count()
for i in range(97,101,1):
    for j in range(97,123,1):
        m='a'+chr(i)+chr(j)
        dataset=pd.read_csv(m,sep='\t')
        dataset=dataset.drop(['count_artist_id','artist_name','name'],axis=1)
        #dataset8=dataset8.drop(['count_msno','count_song_id','mv'],axis=1)
        dataset=dataset.groupby(['artist_id','msno']).count()
        dataset2=dataset2.add(dataset,fill_value=0)
        print m,
        if(i==100 and j==108):
            break
dataset2=dataset2.reset_index()
dataset2

aaa aab aac aad aae aaf aag aah aai aaj aak aal aam aan aao aap aaq aar aas aat aau aav aaw aax aay aaz aba abb abc abd abe abf abg abh abi abj abk abl abm abn abo abp abq abr abs abt abu abv abw abx aby abz aca acb acc acd ace acf acg ach aci acj ack acl acm acn aco acp acq acr acs act acu acv acw acx acy acz ada adb adc add ade adf adg adh adi adj adk adl

           artist_id          msno  song_id
0                0.0          5010      1.0
1                0.0       1399118      1.0
2                0.0       2620229      1.0
3                0.0       2844107      2.0
4                0.0       5673221      1.0
5                0.0       9499832      6.0
6                0.0      10767861      1.0
7                0.0      13545595      1.0
8                0.0      14805027      5.0
9                0.0      18099681      1.0
10               0.0      24297902      1.0
11               0.0      26495529      1.0
12               0.0      30502797      5.0
13               0.0      33831531      3.0
14               0.0      34527417      1.0
15               0.0      38366936      1.0
16               0.0      45110299      1.0
17               0.0      51789815      2.0
18               0.0      63391076      7.0
19               0.0      64056410      1.0
20               0.0      65538887      1.0
21               0.0      66379451      4.0
22               0.0      67758359      1.0
23               0.0      74705946      1.0
24               0.0      95419223      1.0
25               0.0      99285122     41.0
26               0.0     101740135      1.0
27               0.0     121982698      1.0
28               0.0     122163068      5.0
29               0.0     122626660      6.0
...              ...           ...      ...
118597127  7626015.0     136391530      2.0
118597128  7626015.0     136593547      2.0
118597129  7626015.0     137862172      2.0
118597130  7626015.0     139455541      1.0
118597131  7626015.0     140293543      8.0
118597132  7626015.0     140495059      7.0
118597133  7626015.0     143711314      4.0
118597134  7626015.0     144002644      1.0
118597135  7626015.0     150451894      1.0
118597136  7626015.0     152115426      2.0
118597137  7626015.0     156677764      1.0
118597138  7626015.0  338062157654      8.0
118597139  7626015.0  338063054311      1.0
118597140  7626015.0  338063273642      1.0
118597141  7626015.0  338063970331      4.0
118597142  7626015.0  338066421763      1.0
118597143  7626015.0  338067190267      3.0
118597144  7626015.0  338067287220      2.0
118597145  7626015.0  338067535938      1.0
118597146  7626015.0  338068525825      1.0
118597147  7626015.0  338068833036      1.0
118597148  7626015.0  338069355614      2.0
118597149  7626015.0  338069392568      1.0
118597150  7626015.0  338069408485      1.0
118597151  7629529.0      40543052      6.0
118597152  7629529.0     104652973      1.0
118597153  7629529.0     148573756      3.0
118597154  7630111.0       9910571      1.0
118597155  7630236.0       3176591      1.0
118597156  7630236.0       8363133      4.0

[118597157 rows x 3 columns]

In [8]:
dataset2

           artist_id          msno  song_id
0                  0          5010        1
1                  0       1399118        1
2                  0       2620229        1
3                  0       2844107        2
4                  0       5673221        1
5                  0       9499832        6
6                  0      10767861        1
7                  0      13545595        1
8                  0      14805027        5
9                  0      18099681        1
10                 0      24297902        1
11                 0      26495529        1
12                 0      30502797        5
13                 0      33831531        3
14                 0      34527417        1
15                 0      38366936        1
16                 0      45110299        1
17                 0      51789815        2
18                 0      63391076        7
19                 0      64056410        1
20                 0      65538887        1
21                 0      66379451        4
22                 0      67758359        1
23                 0      74705946        1
24                 0      95419223        1
25                 0      99285122       41
26                 0     101740135        1
27                 0     121982698        1
28                 0     122163068        5
29                 0     122626660        6
...              ...           ...      ...
118597127    7626015     136391530        2
118597128    7626015     136593547        2
118597129    7626015     137862172        2
118597130    7626015     139455541        1
118597131    7626015     140293543        8
118597132    7626015     140495059        7
118597133    7626015     143711314        4
118597134    7626015     144002644        1
118597135    7626015     150451894        1
118597136    7626015     152115426        2
118597137    7626015     156677764        1
118597138    7626015  338062157654        8
118597139    7626015  338063054311        1
118597140    7626015  338063273642        1
118597141    7626015  338063970331        4
118597142    7626015  338066421763        1
118597143    7626015  338067190267        3
118597144    7626015  338067287220        2
118597145    7626015  338067535938        1
118597146    7626015  338068525825        1
118597147    7626015  338068833036        1
118597148    7626015  338069355614        2
118597149    7626015  338069392568        1
118597150    7626015  338069408485        1
118597151    7629529      40543052        6
118597152    7629529     104652973        1
118597153    7629529     148573756        3
118597154    7630111       9910571        1
118597155    7630236       3176591        1
118597156    7630236       8363133        4

[118597157 rows x 3 columns]

In [42]:
artist_dic=dict()
for l in dataset2['artist_id'].values:
    artist_dic[int(l)]=0

In [ ]:
for k in artist_dic.keys():
    dataset2.loc[(dataset2.index==k),'artist_pepole']=len(dataset2[dataset2['artist_id']==k]['msno'])

In [43]:
dataset2.dtypes

artist_id    float64
msno           int64
song_id      float64
dtype: object